.page1 {
  width: 100%;
  display: flex;
  align-items: center;
}

.content1 {
  height: 100vh;
  width: 100%;
  flex-direction: column;

  display: flex;
}

.subDiv1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  color: rgb(255, 255, 255);

  width: clamp(250px, 80vw, 900px);
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 700;

  text-align: center;
}

.shuffleBtn1 {
  text-align: center;
  width: 100px;
  margin: auto;
}

.characterAndBtn1 {
  width: 150px;
  margin: auto;
  text-align: center;
}

.main1 {
  text-align: center;
}

.videoBg1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.searchDiv1 {
  height: 61px;
  margin: auto;
  border-radius: 30px;
  backdrop-filter: blur(10px);

  background: rgba(255, 255, 255, 0.425);
  margin-top: 100px;
  margin-bottom: -100px;
  width: clamp(250px, 50vw, 700px);
}

#input1,
.searchBtn1 {
  vertical-align: middle;

  height: 60px;
  border: 2px solid rgba(58, 53, 53, 0.342);

  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.116);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*Your new styles */
  height: 20px;
  width: 20px;
  background: transparent;
}

#input1:focus,
.searchBtn1:focus {
  border: none;
  outline: none;
  border: 2px solid rgba(58, 53, 53, 0.342);
}
#input1:focus {
  border-right: 0;
}

#input1 {
  font-size: 18px;
  padding-left: 20px;
  margin: 0;
  border-radius: 30px 0 0 30px;
  border-right: 0;
  width: calc(100% - 60px);
}

.searchBtn1:focus {
  border-left: 0;
}

.searchBtn1:active {
  background: #a3a3a3;
  transform: scale(0.95);
}
.searchBtn1:hover {
  background: #aaaaaada;
}

.searchBtn1 {
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  border-left: 0;
  position: fixed;
  width: 60px;
  padding-top: 4px;
}

::placeholder1 {
  color: rgb(29, 1, 1);
  opacity: 1; /* Firefox */
  font-size: 18px;
  position: absolute;
}

.links1 {
  text-decoration: none;
  text-align: center;

  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: row;

  text-align: center;
  border-radius: 40px;
  margin: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.116);
  background: rgba(255, 255, 255, 0.267);
  color: white;
}

.links1:active {
  background: #a3a3a3;
  transform: scale(0.95);
}

.linksContainer1 {
  color: white;

  box-shadow: inset 0 0 2000px rgba(161, 128, 128, 0.219);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  margin: auto;
  width: fit-content;
  max-width: 70%;
  margin: auto;
}

.noDec1 {
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 800px) {
  .linksContainer1 {
    margin-top: 270px;
  }

  .title1 {
    margin-bottom: -40px;
  }
}
