.shuffleBtn {
  cursor: pointer;
  text-decoration: none;

  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.678);
  font-size: 19px;
  background: rgba(228, 228, 228, 0.555);
  width: 200px;
  height: 70px;

  text-align: center;
  border-radius: 40px;

  backdrop-filter: blur(5px);
  border: none;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.characterAndBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.characterName {
  color: rgb(219, 196, 196);
  font-size: 2.5rem;
  font-weight: 700;
}
.shuffleBtn:active {
  background: #a3a3a3;
  transform: scale(0.95);
  background: rgba(235, 184, 184, 0.281);
  border: transparent;
  outline: none;
}
.shuffleBtn:focus {
  outline: none;
}

.videoBg2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: -1;
}

.card-grid {
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  text-align: center;
  width: clamp(300px, 48vw, 52vw);

  margin: auto;
  margin-top: -20px;
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turns {
  color: white;
}

@media (max-width: 1200px) {
  .card-grid {
    width: 80%;
  }
  .characterAndBtn {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .shuffleBtn {
    width: 80%;
  }
}
