.card {
  position: relative;
  border-radius: 10px;
  transition: transform 0.8s;
  width: 230px;
  margin: auto;

  cursor: pointer;
}

.card .front {
  width: 100%;
  border-radius: 10px;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  box-shadow: 1px 1px 5px #fffcfc inset;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  width: 100%;
  border-radius: 10px;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  box-shadow: 1px 1px 5px #ffffff inset;
}

.flipped .back {
  transform: rotateY(90deg);

  transition-delay: 0s;
}
